KEY_VALIDATION_URL=http://example.com/validate-key
APP_TYPE=dev
SUDO_PASSWORD=XcdEwq_2qwe_123456
DB_PASSWORD=XcdEwq_2qwe_15288
HOST=3.73.182.116
PORT=3000
ALLOWED_PACKAGES=php,nginx,mysql,redis
APP_NAME=antagonist-2
CALLBACK_URL=https://3052-188-163-59-73.ngrok-free.app/api/tasks/callback
CALLBACK_SERVER_STATUS_URL=https://9f74-188-163-59-135.ngrok-free.app/api/servers/callback